img {
    width: 30%;
    padding: 3%;
}
.popis {
    text-align: left;
    display: flex;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kosikbutton {
    background-color: grey;
    border-color: green;
}