<div class="container">
    <h1>{{product.title}}</h1>
    <img class="card-img-top" [src]="'http://kodytek.cz:8080/rest-api/' + product.images[0].miniaturePath" alt="Card image cap">
  
    <a id="details">{{product.parameters}}</a>
    <a id="rating"></a>
    <a id="popis" style="">{{product.description}}</a>
    <button class="plus" (click)="plus()">+</button>
    <input type="number" value="{{pocet}}">
    <button class="minus" (click)="minus()">-</button>
    <button class="kosikbutton" (click)="addToKosik()">Pridat</button>
</div>